<ol class="breadcrumb">
	<li>
		<a href="#/home">Home</a>
	</li>
	<li>
		<a href="#/services">Services</a>
	</li>
	<li>
		{{serviceKey}}
	</li>
</ol>

<div class="row">
	<div class="col-md-12">
		<form editable-form name="editableForm" onaftersave="saveService()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span editable-text="service.key" e-name="key" onbeforesave="checkRequiredText($data)" e-required><h3 class="panel-title">{{ service.key || 'empty' }}</h3></span>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>
							Name
						</dt>
						<dd>
							<span id="name" editable-text="service.name" e-name="name" onbeforesave="checkRequiredText($data)" e-required>{{ service.name || 'empty' }}</span>
						</dd>
						<dt>
							Owner
						</dt>
						<dd>
							<span id="owner" editable-text="service.owner" e-name="owner" onbeforesave="checkRequiredText($data)" e-required>{{ service.owner || 'empty' }}</span>
						</dd>
						<dt>
							Maintenance Windows
						</dt>
						<dd data-ng-repeat="w in service.maintenanceWindows">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span editable-text="w.description" e-name="w.description{{$index}}" onbeforesave="checkRequiredText($data)" e-required><h3 class="panel-title">{{ w.description || 'empty' }}</h3></span>
								</div>
								<div class="panel-body">
									<dl class="dl-horizontal">
										<dt>
											Days
										</dt>
										<dd>
											<span editable-checklist="w.daysOfWeek" e-name="w.daysOfWeek{{$index}}" onbeforesave="checkDays($data)" e-ng-options="d for d in allDaysOfWeek" e-required><span data-ng-repeat="d in w.daysOfWeek"><span class="label label-default">{{d}}</span>&nbsp;</span> </span>
										</dd>
										<dt>
											Start
										</dt>
										<dd>
											<span editable-number="w.start.hours" e-name="w.start.hours{{$index}}" e-min="0" e-max="24" e-required>{{ w.start.hours || '0' }}</span>
											:
											<span editable-number="w.start.minutes" e-name="w.start.minutes{{$index}}" e-min="0" e-max="59" e-required>{{ w.start.minutes || '00' }}</span>
										</dd>
									</dl>
								</div>
							</div>
						</dd>
					</dl>
				</div>

				<div class="buttons" style="padding: 15px;">
					<!-- button to show form -->
					<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
						Edit
					</button>
					<!-- buttons to submit / cancel form -->
					<span ng-show="editableForm.$visible">
						<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
							Save
						</button>
						<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
							Cancel
						</button> </span>
				</div>
			</div>

		</form>
	</div>
</div>